.container{
    text-align: center;
    margin-top: 24px;
}
table{
    margin: auto;
}

input{
    border-radius: 20px;
    border: 5px solid #244624;

    font-size: 34px;
    height:65px;
    width:456px;
    
}
button{
    border-radius: 21px;
    font-size:42px;
    background: #35aaa4;
    width:102PX ;
    height: 88px;
    margin: 6px;

}
.calculator{
    border : 4px solid #701a1a;
    background-color: #dceb0d;
    padding: 23px;
    border-radius: 53px;
    display: inline-block;
}
h1{
    font-size: 54px;
    font-family: 'Times New Roman', Times, serif;
}